<!DOCTYPE html>
<html>
<head>
  <title>Event Manager 2.0</title>
</head>
<body>
  <h1>Event schedule</h1>

  <table>
  	<% @schedule.each.do |arr| %>
    <tr>
      <% arr.each.do |el|%>
      <td><%= el %></td>
    </tr>
  </table>

</body>
</html>